﻿@model IEnumerable<BikeStoreSampleMvcEFCore.Web.Models.Customer>

@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}

@*<h1>Index</h1>*@
<br />

<p>
    <a onclick="showInPopup('@Url.Action("Create","Customer",null,Context.Request.Scheme)','新增')" class="btn btn-sm btn-success m1-1">新增</a>
    @*<a asp-action="Create" class="btn btn-sm btn-success m1-1">新增</a>*@
</p>

<partial name="_pager" model="@pager" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>*@

                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-sm btn-info">Edit</a>&nbsp;
                        <a asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-sm btn-primary m1-1">Details</a>&nbsp;
                        <a asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-sm btn-danger m1-1">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
