﻿@model BikeStoreSampleMvcEFCore.Web.Models.Pager

<div class="container">
    @if (Model.TotalPages > 0)
    {
    <ul class="pagination justify-content-end">

        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Customer" asp-action="Index" asp-route-pg="1">首頁</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-controller="Customer" asp-action="Index"
                   asp-route-pg="@(Model.CurrentPage-1)">前一頁</a>
            </li>
        }
        @for (var pge = Model.StartPage; pge <= Model.EndPage; pge++)
        {
            <li class="page-item @(pge == Model.CurrentPage ? "active" : "")">
                <a class="page-link" asp-controller="Customer" asp-action="Index" asp-route-pg="@pge">@pge</a>
            </li>
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Customer" asp-action="Index"
                   asp-route-pg="@(Model.CurrentPage+1)">下一頁</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-controller="Customer" asp-action="Index"
                   asp-route-pg="@(Model.TotalPages)">最後頁</a>
            </li>
        }


    </ul>
    }




</div>